<div class="header">
    <img class="headline-logo" src="./src/img/logo_blue_join.png">
    <div class="headline">
        <p>Kanban Project Management Tool</p>
    </div>
    <div class="profile-section">
        <!-- <img class="question-mark" src="src/img/Vector.svg" onclick="window.location.href='impressum.html'"> -->
        <a href="help.html"><img class="helpIcon" src="src/img/questionMark.png" alt=""></a>
        <div class="guestLogin" id="guestLogin" onclick="openLogout()"></div>
    </div>
     
    <img class="logout dNone"  id="logout" onclick="logout()" src="src/img/logout.svg" alt="">
    <div class="logout-mobile-container" >
    <div onclick="window.location.href='impressum.html'" id="legalNoticeMobile" class="legal-notice-mobile dNone" >Legal Notice</div>
    <div onclick="logout()" class="logout-mobile dNone" id="logoutMobile">Logout</div>
    </div>
</div>



