body {
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    font-size: normal;
}

.passwordreset-logo-container {
    width: 110px;
    margin-top: 25px;
}

.blue-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 30px;
    margin-left: 30px;
}

.passwordreset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    transform: translateY(60px);
}

.passwordreset-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    width: 800px;
    padding: 30px 60px 30px 60px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.04);
}

.passwordreset-header a {
    position: absolute;
    top: 30px;
    left: 20px;
    display: flex;
    cursor: pointer
}


.passwordreset-header h1 {
    font-size: 70px;
    margin: 0;
    margin-bottom: 15px;
}

.blue-line {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    width: 175px;
    height: 3px;
    background-color: rgba(11, 173, 221, 1);
}

.passwortreset-text h2 {
    text-align: center;
    font-weight: 400;
}

.resetPassword-Button {
    background: #2A3647;
    border-radius: 10px;
    margin-left: 40px;
    color: white;
    padding: 13px;
    text-decoration: none;
}

.email-input {
    background-image: url('/src/img/email.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 490px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    width: 500px;
}

.name-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.email-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.resetPassword-Button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resetPassword-Button {
    background-color: #2A3647;
    padding: 9px;
    color: white;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    border: none;
    margin-right: 25px;
    cursor: pointer;
}


@keyframes downToUp {
    0% {

        transform: translateY(650px);
    }

    100% {
        transform: translateY(150px);

    }
}

.sendMailContainer {
    width: 0;
    position: absolute;
    left: 42%;
    transform: translateY(150px);
    animation: downToUp 900ms;
    z-index: 1;
}


.dNone {
    display: none;
}

@media(max-width:1280px) {
    .sendMailContainer img {
        width: 350px;
        height: 350px;
    }

    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 35%;
        transform: translateY(-300px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(200px);
        }

        100% {
            transform: translateY(-300px);

        }
    }
}


@media(max-width:1024px) {
    .blue-logo {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-top: 30px;
        margin-left: 20px;
    }

    .passwordreset-container {
        height: 0;
    }

    .passwordreset-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        transform: translateY(100px);
    }

    .email-input {
        background-image: url(/src/img/email.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 390px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 15px;
        width: 400px;
    }

    .passwordreset-header {
        padding: 30px 0 0 0;
        transform: translateY(120px);
        width: 95%;
    }

    .passwordreset-header h1 {
        font-size: 35px;
    }

    .sendMailContainer img {
        width: 350px;
        height: 350px;
    }

    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 35%;
        transform: translateY(-10px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(200px);
        }

        100% {
            transform: translateY(-10px);

        }
    }
}

@media(max-width:1024px) {
    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 25%;
        transform: translateY(90px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(500px);
        }

        100% {
            transform: translateY(90px);

        }
    }
}

@media(max-width:768px) {
    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 25%;
        transform: translateY(90px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(500px);
        }

        100% {
            transform: translateY(90px);

        }
    }
}


@media(max-width:688px) {
    .passwordreset-header {
        padding: 0;
    }

    .passwordreset-header h1 {
        font-size: 40px;
        margin: 0;
        margin-bottom: 15px;
    }

    .passwordreset-header {
        transform: translateY(130px);
        width: 80%;
        padding: 30px;
    }

    .passwordreset-header h1 {
        font-size: 25px;
        margin: 0;
    }

    .email-input {
        background-image: url(/src/img/email.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 320px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 15px;
        width: 330px;
    }

    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 15%;
        transform: translateY(90px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(500px);
        }

        100% {
            transform: translateY(90px);

        }
    }
}

@media(max-width:500px) {
    .passwordreset-header {
        transform: translateY(250px);
        width: 95%;
    }

    .passwordreset-header h1 {
        font-size: 25px;
        margin: 0;
    }

    .email-input {
        background-image: url(/src/img/email.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 320px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 15px;
        width: 330px;
    }

    form {
        width: 100%;
    }

    .email-Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .sendMailContainer img {
        width: 350px;
        height: 350px;
    }

    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 5%;
        transform: translateY(90px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(500px);
        }

        100% {
            transform: translateY(90px);

        }
    }
}

@media(max-width:415px) {
    .passwordreset-header {
        transform: translateY(250px);
        padding: 20px;
        width: 85%;
    }

    .passwordreset-header h1 {
        font-size: 25px;
        margin: 0;
        margin-bottom: 10px;
    }

    form {
        width: 100%;
    }

    .passwortreset-text {
        font-size: 10px;
    }

    .email-Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .sendMailContainer img {
        width: 300px;
        height: 300px;
    }

    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 15%;
        transform: translateY(230px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(500px);
        }

        100% {
            transform: translateY(230px);

        }
    }
}

@media(max-width:393px) {

    .passwordreset-header {
        padding: 30px;
        transform: translateY(150px);
        width: 80%;
    }

    .passwordreset-header a {
        position: absolute;
        top: 30px;
        left: 35px;
        display: flex;
        cursor: pointer;
    }

    .passwordreset-header h1 {
        font-size: 20px;
        margin: 0;
        margin-bottom: 15px;
        padding-left: 14px;
    }


    .email-input {
        background-image: url(/src/img/email.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 15px;
        width: 290px;
    }

    .passwordreset-container {
        height: 0;
    }

    .passwortreset-text {
        font-size: 10px;
    }

    .blue-logo {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-top: 20px;
        margin-left: 30px;
    }

    .resetPassword-Button {
        background-color: #2A3647;
        padding: 9px;
        color: white;
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        font-size: 15px;
        border: none;
        margin-right: 25px;
        cursor: pointer;
    }

    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 10%;
        transform: translateY(150px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(500px);
        }

        100% {
            transform: translateY(150px);

        }
    }
}


@media(max-width:280px) {

    .passwordreset-header {
        transform: translateY(100px);
        width: 70%;
        padding: 10px 30px;
    }

    .passwordreset-header h1 {
        font-size: 15px;
        margin: 0;
        margin-bottom: 15px;
        padding: 14px 0 0px 0;
    }

    .passwordreset-header img {
        width: 15px;
        height: 15px;
    }

    .passwordreset-header a {
        position: absolute;
        top: 15px;
        left: 15px;
        display: flex;
        cursor: pointer;
    }

    .passwortreset-text {
        font-size: 9px;
    }

    .email-input {
        background-image: url(/src/img/email.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 190px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 15px;
        width: 200px;
    }

    .resetPassword-Button {
        background-color: #2A3647;
        padding: 9px;
        color: white;
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        font-size: 15px;
        border: none;
        margin: 0;
        cursor: pointer;
    }

    .sendMailContainer img {
        width: 250px;
        height: 250px;
    }

    .sendMailContainer {
        width: 0;
        position: absolute;
        left: 5%;
        transform: translateY(100px);
        animation: downToUp 900ms;
        z-index: 1;
    }

    @keyframes downToUp {
        0% {

            transform: translateY(500px);
        }

        100% {
            transform: translateY(100px);

        }
    }
}