body {
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    font-size: normal;
}

.register-logo-container {
    width: 110px;
}

.blue-logo {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-top: 80px;
    margin-left: 80px;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.register-SignUp {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    width: 500px;
    padding: 30px 60px 30px 60px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.04);
    animation: fade_in 1.5s;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    40% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.register-SignUp a {
    position: absolute;
    top: 30px;
    left: 20px;
    display: flex;
    cursor: pointer
}

.register-SignUp h1 {
    font-size: 70px;
    margin: 0;
    margin-bottom: 15px;
}

.blue-line {
    display: flex;
    margin: 0;
    width: 175px;
    height: 3px;
    background-color: rgba(11, 173, 221, 1);
}

.sign-Up-Button {
    background: #2A3647;
    border-radius: 10px;
    margin-left: 40px;
    color: white;
    padding: 13px;
    text-decoration: none;
}

.input-register-password {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 400px;
}

.password-input {
    background-image: url('/src/img/password.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 380px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
    width: 100%;
}

.input-login-password input {
    margin-bottom: 20px;
}

.name-input {
    background-image: url('/src/img/Name.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 380px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 25px;
    width: 100%;
}

.email-input {
    background-image: url('/src/img/email.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 380px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 25px;
    width: 100%;
}

.name-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.email-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.password-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.SignUp-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.SignUp-button {
    background-color: #2A3647;
    padding: 9px;
    color: white;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

@media(max-width:1073px) {
    .blue-logo {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin-top: 30px;
        margin-left: 20px;
    }

    .register-container {
        transform: translateY(250px);
        height: 0;
    }

    .register-SignUp {
        width: 380px;
        padding: 0px 60px 0px 60px;
    }
}

@media(max-width:914px) {
    .register-container {
        transform: translateY(350px);
        height: 0;
    }
}

@media(max-width:520px) {
    .register-SignUp {
        padding: 0;
    }

    .register-SignUp h1 {
        font-size: 50px;
    }

    .input-register-password {
        width: 90%;
    }

    .password-input {
        background-image: url('/src/img/password.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        width: 300px;
    }


    .name-input {
        background-image: url('/src/img/Name.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 300px;
    }

    .email-input {
        background-image: url('/src/img/email.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 300px;
    }
}

@media(max-width:393px) {
    .register-SignUp {
        width: 380px;
        padding: 0;
    }

    .sign-Up-Container {
        display: flex;
        flex-direction: column;
    }

    .input-register-password {
        width: 100%;
    }
}



@media(max-width:414px) {
    .register-SignUp {
        padding: 0;
    }

    .register-SignUp h1 {
        font-size: 50px;
    }

    .input-register-password {
        width: 90%;
    }

    .password-input {
        background-image: url('/src/img/password.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        width: 300px;
    }


    .name-input {
        background-image: url('/src/img/Name.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 300px;
    }

    .email-input {
        background-image: url('/src/img/email.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 300px;
    }
}

@media(max-width:393px) {
    .register-SignUp {
        width: 95%;
        padding: 0;
        transform: translateY(-100px);
        animation: fade_in 1.5s;
    }

    @keyframes fade_in {
        0% {
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-100px)
        }

        40% {
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-100px)
        }

        100% {
            opacity: 1;
            transform: scale(1);
            transform: translateY(-100px)
        }
    }

    .sign-Up-Container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .input-register-password {
        width: 90%;
    }

    .password-input {
        background-image: url('/src/img/password.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        width: 300px;
    }


    .name-input {
        background-image: url('/src/img/Name.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 300px;
    }

    .email-input {
        background-image: url('/src/img/email.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 280px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 300px;
    }
}

@media(max-width:360px) {
    .register-SignUp {
        width: 95%;
        padding: 0;
        transform: translateY(-100px);
    }

    @keyframes fade_in {
        0% {
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-100px)
        }

        40% {
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-100px)
        }

        100% {
            opacity: 1;
            transform: scale(1);
            transform: translateY(-100px)
        }
    }

    .register-SignUp h1 {
        font-size: 30px;
        margin-top: 15px;
    }

    .register-SignUp a {
        position: absolute;
        top: 18px;
        left: 20px;
        display: flex;
        cursor: pointer;
    }

    .register-SignUp img {
        width: 20px;
        height: 20px;
    }

    .blue-line {
        width: 70px;
    }

    .sign-Up-Container {
        width: 100%;
    }

    .input-register-password {
        width: 90%;
    }

    .password-input {
        background-image: url('/src/img/password.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 210px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        width: 220px;
    }

    .name-input {
        background-image: url('/src/img/Name.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 210px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 220px;
    }

    .email-input {
        background-image: url('/src/img/email.png');
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 210px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 8px;
        margin-bottom: 25px;
        width: 220px;
    }
}